
.bg-2 {
	background: url("../images/gallery/man2.png")no-repeat;
	background-size: cover;
}

.bg-3 {
	background: url("../images/gallery/man1.png") no-repeat;
	background-size: cover;
}



.bg-4 {
	background: url("../images/gallery/man3.png") no-repeat;
	background-size: cover;
	@extend .overly;
}


