<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-3 col-md-6">
				<img src="images/about/man1.png" alt="" class="img-fluid">
			</div>
			<div class="col-lg-3 mt-lg-4 col-md-6">
				<img src="images/about/man3.png" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="about-item position-relative mt-5 mt-lg-0">
					<span class="h5 text-lg text-muted">Est:1990</span>
					<h2 class="mt-1 mb-3">Having <span class="text-color">10 years</span> of experience in fitness</h2>

					<p class="mb-4">We know how to get you off the couch and into the gym. Talk to one of our trainers about your specific goals. We have experts in injury recovery, weight control, diet, etc. If there is something you like to do for exercise, we know it. Here in beautiful Wenatchee Washington, we have lots of options to enjoy the outdoors as well as the gym.</p>

					<a href="service.html" class="btn btn-main">Services<i class="ti-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>