<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<img src="images/gallery/man4.png" alt="" class="img-fluid rounded shadow w-100">
			</div>

			<div class="col-lg-6">
				<div class="pl-3 mt-5 mt-lg-0">
					<h2 class="mt-1 mb-3">We’ve skill in <br>wide <span class="text-color">range of fitness</span> and Other body health facility. </h2>

					<p class="mb-4">We know how to get you off the couch and into the gym. Talk to one of our trainers about your specific goals. We have experts in injury recovery, weight control, diet, etc. If there is something you like to do for exercise, we know it. Here in beautiful Wenatchee Washington, we have lots of options to enjoy the outdoors as well as the gym.</p>

					<a href="about.html" class="btn btn-main">Learn More<i class="fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>