<section class="section course bg-gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Popular Courses</h2>
					<p>We offer more than 35 group exercise, aerobic classes each week.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
					<img src="images/gallery/adult1.png" alt="" class="img-fluid">

					<div class="card-body">
						<!-- <a href="course-single.html"><h4 class="font-secondary mb-0">Body Building</h4></a> -->
						<h4 class="font-secondary mb-0">Body Building</h4>
						<p class=" mb-2">Mentor: Jimmy Karter</p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
					<img src="images/gallery/bicycle1.png" alt="" class="img-fluid">

					<div class="card-body">
						<!-- <a href="course-single.html"><h4 class="font-secondary mb-0">Cycling</h4></a> -->
						<h4 class="font-secondary mb-0">Cycling</h4>
						<p class="mb-2">Mentor: Erin Hankins</p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
					<img src="images/gallery/fitness1.png" alt="" class="img-fluid">

					<div class="card-body">
						<!-- <a href="course-single.html"><h4 class="font-secondary mb-0">Interval Training</h4></a> -->
						<h4 class="font-secondary mb-0">Interval Training</h4>
						<p class=" mb-2">Mentor: Bill Franklin</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
					<img src="images/gallery/climbing1.png" alt="" class="img-fluid" style="height: 170px;">

					<div class="card-body">
						<!-- <a href="course-single.html"><h4 class="font-secondary mb-0">Rock Climbing</h4></a> -->
						<h4 class="font-secondary mb-0">Rock Climbing</h4>
						<p class=" mb-2">Mentor: Josh Latilla</p>
					</div>
				</div>
			</div>

		</div>
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="mt-5 text-center">
					<!-- <a href="course.html" class="btn btn-main">See all our Courses</a> -->
				</div>
			</div>
		</div>
	</div>
</section>